/* Default style for desktop computers and laptops*/
body{
	font-family: Arial, sans-serif, serif;
	margin: 0;
	padding: 0;
	background-image: linear-gradient(90deg, #22224F 0%, white 25% , white 75%, #22224F 100%);
	background-attachment: fixed;	
}
/* Hide mobile menu */
#mobile_menu{ display: none; }

/* Styles for the header */
header{
	max-width: 960px;
	margin: 0 auto;
	padding: 0;
	background-color: #2c3e50;
	text-align: center;	
}

header a{
	text-decoration: none;
	color: white;	
}

header span{ display: inline-block; }

header h1{
	margin: 0;
	padding: 0;
	font-size: 400%;
	line-height: 150%;
}

#h2-wrapper{
	background-image: url(../images/black_pattern.png);	
	max-width: 960px;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

#h2-wrapper h2{
	padding: 0.5em 0;
	margin: 0;
	font-size: 250%;
	color: white;
}

/* Styles for the navigation menu */
#nav_menu{	
	display: block;
	background-color: #2c3e50;	
	width: 100%;
	height: 3em;
	max-width: 960px;
	margin: 0 auto;
	padding: 0;
}

#nav_menu a{
	text-decoration: none;
	color: white;
	font-size: 1.5em;
}

#nav_menu ul{
	margin: 0;	
	list-style-type: none;
}

#nav_menu .main_li{
	float: left;
	padding: 0;
	text-align: center;
	position: relative;
	width: 20%;
}

#nav_menu a{
	display: block;
	line-height: 2em;
}

#nav_menu {	min-width: 80px;}

#nav_menu a:hover, #nav_menu a:focus{	
	text-decoration: underline;
	text-shadow: 0px 0px 5px white;
}

/* Styles to show the dropdown menu */
#nav_menu .main_li:hover >ul, #nav_menu .main_li:hover{
	display: block;
}

#nav_menu .main_li ul{
	position: absolute;
	padding: 0 0 0 10%;	
	margin: 0;	
	display: none;
	overflow: hidden;	
	width: 120%;
	min-width: 150px;
	background-color: #2c3e50;
	border: 1px solid #BBB;
	border-top: none;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;	
	text-align: left;
}

#nav_menu .main_li a:hover .sub-icon{ color: #000027;}


/* Styles for the main content */
main{ align-content: center;}

main{
	margin: 0 auto;
	max-width: 960px;
	padding: 0;
}

main h1{
	font-size: 3em;		
}

#wrapper{
	max-width: 920px;
	width: 95.833333333%;
	padding: 1em 2.17391304347%;
	background: #FFF;
}

#wrapper #top_img{
	width: 100%;
}

#wrapper p{	font-size: 120%; }

#wrapper #workout_section{ 
	float: left;
	width: 75%;
}

#wrapper #workout_section h2{
	color: white;
	background-color: #2c3e50;	
	font-size: 2em;
	padding: 0.4em;
	margin: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#wrapper #workout_section ul{
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	border: 1px solid #CCC;
	box-shadow: 1px 1px 2px #BBB;
	margin: 1em 0 1em 0;
	padding: 0;
}

#wrapper #workout_section ul h3{
	color: Navy;
	background-color: lightgrey;
	display: block;
	line-height: 1.5em;
	width: 98%;	
	margin: 0;
	padding: .25em 0% .25em 2%;
	border-bottom: 2px solid grey;
}

#wrapper #workout_section li{
	list-style-type: none;
	display: block;
	min-height: 100px;	
	width: 100%;
	border: none;
	padding: 0;	
}

#wrapper #workout_section li .exersise_info{
	display: inline-block;	
}

#wrapper #workout_section ul .exersise_pics{
	height: 100%;
	display: inline-block;
	float: right;
}

#wrapper #workout_section li img{
	margin: 0;
    max-height: 100%;
	padding: 0 0 0 1em;
}


#wrapper .ex_content{
	height: 120px;
	padding: 1em 2.5%;
}

/* Styles for the aside shortcut menu */
#wrapper aside{
	float: right;
	width: 19%;
	padding: 0 1.8%;	
	margin-left: 2%;
	margin-top: 1em;	
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	border: 1px solid #CCC;
	box-shadow: 1px 1px 2px #BBB;
}

#wrapper aside ul{
	list-style: none;
	padding: 0;
}

#wrapper aside li{
	margin-bottom: 0.5em;
	padding-left: 0.5em;
	background-color: #2c3e50;
	background-color: #56799C;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

#wrapper aside li a{
	line-height: 1.5em;
	display: block;
	color: white;
	text-decoration: none;
}

#wrapper aside li:hover{
	background-color: #2c3e50 !important;	
	text-shadow: 0 0 5px white;
}

#wrapper #top-link{
	clear: both;
	display: block;
}

/* Styles for the footer */

footer{
	max-width: 960px;
	color: white;
	background-color: #2c3e50;
	margin: 0 auto;	
	clear: both;
}
footer p{
	text-align: center;
	margin: 0;	
	padding: 15px 0;
}

/* Style changes with media queries */

/* Tablets, Ipads (portrait) */
@media only screen and ( max-width :959px ){
	body{
		//background-image: none; 
	}
	
	#wrapper h2{ font-size: 160%; }
	
	#wrapper p{ font-size: 115%; }
	
	#nav_menu .main_li ul{ border: none;}
	
	#wrapper{ border: none;}
	
	footer{ border: none;}
}

/* Low Resolution Tablets, Mobiles (Landscape) */
@media only screen and ( max-width: 767px ){
	#nav_menu{	display: none; }
	
	#mobile_menu{ display: block;}
	
	header h1{
		font-size: 300%;
		line-height: 150%;
	}
	
	#h2-wrapper h2{
		padding: 0.5em 0;
		margin: 0;
		font-size: 220%;
		color: white;
	}
	
	#wrapper aside{
		float: none;
		margin: 0;
		width: 96%;
	}
	
	#wrapper aside li a{
		line-height: 2em;
	}

	
	
	#wrapper .ex_content{
		height: 100px;
	}
	
	#wrapper h1{
		font-size: 220%;
	}
	
	#wrapper p{
		font-size: 120%;
	}
	
	#mobile_menu {
		color: red !important;
	}
	
	#wrapper #workout_section {
		width: 100% !important;
	}
	
	#wrapper #workout_section img{
		margin-top: 0;
	}
	
	.sub-icon{ display: none;}
	
	.slicknav_menu{background-color: #2c3e50 !important;}
	
	.slicknav_menu .main_li{

		font-size: 150%;
	}
	
}

/* Most of the Smartphones Mobiles (Portrait) */
@media only screen and ( max-width: 479px ){
	
	
	
	#h2-wrapper{display: none;}

	#wrapper #workout_section h2{
		padding-bottom: 1em;
	}
	
	#wrapper #workout_section img{display: none;}
	
	#wrapper h1{font-size: 180%;}
	
	#wrapper p{
		font-size: 100%;
		text-align: center;
	}
	
	#wrapper #workout_section li p{
		text-align: left !important;
		line-height: 1.5em;
		margin: 0;
	}
	
	#wrapper #workout_section li{	height: 3em;}
	
	#wrapper #workout_section .ex_content{ padding: .5em; }
}